
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
<script src="/public/assests/js/bootstrap.min.js"></script>
<script src="/public/assests/js/script.js"></script>
</body>
</html>